*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 10px;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #282C33; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #C778DD; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a564b8; 
  }
body{
    display: flex;
    flex-direction: column;
    background-color: #282C33;
    position: relative;
}

header{
    display: flex;
    background-color: #282C33;
    justify-content: center;

    .nav-link{
        color: white;
        opacity: .75;

        span{
            color: #C778DD;
        }

        &:hover{
            opacity: 1;
            color: white;
            transition: 0.29s;
        }

        &:visited{
            color: white;
            opacity: 1;
        }

    }
    position: sticky;
    top: 0;
    z-index: 1;
}

.box{
    display: flex;

    margin-top: 10vw;
    margin-left: auto;
    margin-right: auto;

    h2{
        color: white;
        
    }

    span{
        color: #C778DD;
    }

    img{
        margin-left: 10vw;
    }
    p{
        color: #ABB2BF;
        font-size: .95em;
    }

    button{
        color: white;
        border-radius: 0px;
        border: 1px solid #C778DD;

        &:hover{
            background-color: #c778dd7c;
            border: 1px solid #C778DD;
        }
    }
    margin-bottom: 20vh;
}

.projects{

    margin-bottom: 15vh;
    margin-left: auto;
    margin-right: auto;
    span{
        color: #C778DD;
    }
    h2{
        color: white;
        margin-bottom: 10vh;
    }

    .pcards{
        display: flex;
        flex-wrap: wrap;

    }

    .card{
        margin-right: 5vw;
        margin-bottom: 5vh;

        background-color: #282C33;
        border: 1px solid #ABB2BF;
        border-radius: 0px;

        h5{
            color: white;
        }

        li{
            color: #ABB2BF;
            background-color:#282C33;
            border: none;
        }

        img{
            border-radius: 0px;
        }

        p{
            color: #ABB2BF;
        }

        a{
            color: white;
            border-radius: 0px;
            border: 1px solid #C778DD;
            text-decoration: none;
            padding: 2.5%;
            
    
            &:hover{
                background-color: #c778dd7c;
                border: 1px solid #C778DD;
                transition: .29s;
            }
        }
    }


}

.skills{
    margin-left: auto;
    margin-right: auto;
    

    span{
        color: #C778DD;
    }
    h2{
        color: white;
        margin-bottom: 10vh;

    }
    .scards{
        display: flex;
        flex-wrap: wrap;

    }
    .card{
        margin-right: 2vw;
        margin-bottom: 5vh;

        background-color: #282C33;
        border: 1px solid #ABB2BF;
        border-radius: 0px;
        color: white;
    }
    .card-header{
        font-size: 1.3em;
        border-bottom: 1px solid #ABB2BF;
    }
    li{
        color: #ABB2BF;
        background-color:#282C33;
        border: none;
        border: none;
        font-size: 1.2em;
    }
}